<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pass Authorization Header to PHP FastCGI / FPM
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect all requests into the public directory preserving query strings.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [QSA,L]
</IfModule>

# Disable directory browsing.
Options -Indexes

# LiteSpeed & ModSecurity rule bypass for API / MCP streaming
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule Litespeed>
    RewriteRule .* - [E=noconntimeout:1]
    RewriteRule .* - [E=noabort:1]
</IfModule>


